[submodule ".registry"]
	path = .registry
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = HEAD
[submodule "BrailleR"]
	path = BrailleR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/BrailleR
	subdir = BrailleR
[submodule "CSGo"]
	path = CSGo
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/CSGo
	subdir = CSGo
[submodule "D2MCS"]
	path = D2MCS
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/D2MCS
	subdir = D2MCS
[submodule "EDFtest"]
	path = EDFtest
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EDFtest
	subdir = EDFtest
[submodule "EntropicStatistics"]
	path = EntropicStatistics
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EntropicStatistics
	subdir = EntropicStatistics
[submodule "EstimateBreed"]
	path = EstimateBreed
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EstimateBreed
	subdir = EstimateBreed
[submodule "GGMselect"]
	path = GGMselect
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/GGMselect
	subdir = GGMselect
[submodule "GTFSwizard"]
	path = GTFSwizard
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/GTFSwizard
	subdir = GTFSwizard
[submodule "HMDA"]
	path = HMDA
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/HMDA
	subdir = HMDA
[submodule "MLwrap"]
	path = MLwrap
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/MLwrap
	subdir = MLwrap
[submodule "NBDCtools"]
	path = NBDCtools
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/NBDCtools
	subdir = NBDCtools
[submodule "PLStests"]
	path = PLStests
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/PLStests
	subdir = PLStests
[submodule "PublicWorksFinanceIT"]
	path = PublicWorksFinanceIT
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/PublicWorksFinanceIT
	subdir = PublicWorksFinanceIT
[submodule "RCreliability"]
	path = RCreliability
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/RCreliability
	subdir = RCreliability
[submodule "RVenn"]
	path = RVenn
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/RVenn
	subdir = RVenn
[submodule "Rttf2pt1"]
	path = Rttf2pt1
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/Rttf2pt1
	subdir = Rttf2pt1
[submodule "apLCMS"]
	path = apLCMS
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/apLCMS
	subdir = apLCMS
[submodule "bRacatus"]
	path = bRacatus
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/bRacatus
	subdir = bRacatus
[submodule "batchLLM"]
	path = batchLLM
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/batchLLM
	subdir = batchLLM
[submodule "biclustermd"]
	path = biclustermd
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/biclustermd
	subdir = biclustermd
[submodule "bridger"]
	path = bridger
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/bridger
	subdir = bridger
[submodule "brpop"]
	path = brpop
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/brpop
	subdir = brpop
[submodule "classifly"]
	path = classifly
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/classifly
	subdir = classifly
[submodule "comparer"]
	path = comparer
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/comparer
	subdir = comparer
[submodule "covid19br"]
	path = covid19br
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/covid19br
	subdir = covid19br
[submodule "designmatch"]
	path = designmatch
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/designmatch
	subdir = designmatch
[submodule "dsBase"]
	path = dsBase
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/dsBase
	subdir = dsBase
[submodule "ech"]
	path = ech
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ech
	subdir = ech
[submodule "extractox"]
	path = extractox
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/extractox
	subdir = extractox
[submodule "extrafont"]
	path = extrafont
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/extrafont
	subdir = extrafont
[submodule "ezEDA"]
	path = ezEDA
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ezEDA
	subdir = ezEDA
[submodule "factset.analyticsapi.engines"]
	path = factset.analyticsapi.engines
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/factset.analyticsapi.engines
	subdir = factset.analyticsapi.engines
[submodule "fergm"]
	path = fergm
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fergm
	subdir = fergm
[submodule "fireexposuR"]
	path = fireexposuR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fireexposuR
	subdir = fireexposuR
[submodule "forensIT"]
	path = forensIT
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/forensIT
	subdir = forensIT
[submodule "gamblers.ruin.gameplay"]
	path = gamblers.ruin.gameplay
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gamblers.ruin.gameplay
	subdir = gamblers.ruin.gameplay
[submodule "geouy"]
	path = geouy
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/geouy
	subdir = geouy
[submodule "ggScatRidges"]
	path = ggScatRidges
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ggScatRidges
	subdir = ggScatRidges
[submodule "ggedit"]
	path = ggedit
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ggedit
	subdir = ggedit
[submodule "hdtg"]
	path = hdtg
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/hdtg
	subdir = hdtg
[submodule "hellmer"]
	path = hellmer
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/hellmer
	subdir = hellmer
[submodule "hrbrthemes"]
	path = hrbrthemes
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/hrbrthemes
	subdir = hrbrthemes
[submodule "implicitMeasures"]
	path = implicitMeasures
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/implicitMeasures
	subdir = implicitMeasures
[submodule "interpret"]
	path = interpret
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/interpret
	subdir = interpret
[submodule "multilevelcoda"]
	path = multilevelcoda
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/multilevelcoda
	subdir = multilevelcoda
[submodule "occCite"]
	path = occCite
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/occCite
	subdir = occCite
[submodule "oesr"]
	path = oesr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/oesr
	subdir = oesr
[submodule "pema"]
	path = pema
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/pema
	subdir = pema
[submodule "psc"]
	path = psc
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/psc
	subdir = psc
[submodule "psvd"]
	path = psvd
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/psvd
	subdir = psvd
[submodule "ratlas"]
	path = ratlas
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ratlas
	subdir = ratlas
[submodule "rbioacc"]
	path = rbioacc
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rbioacc
	subdir = rbioacc
[submodule "rhymer"]
	path = rhymer
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rhymer
	subdir = rhymer
[submodule "samesies"]
	path = samesies
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/samesies
	subdir = samesies
[submodule "sgapi"]
	path = sgapi
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/sgapi
	subdir = sgapi
[submodule "shapley"]
	path = shapley
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/shapley
	subdir = shapley
[submodule "shock"]
	path = shock
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/shock
	subdir = shock
[submodule "spreadr"]
	path = spreadr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/spreadr
	subdir = spreadr
[submodule "squeezy"]
	path = squeezy
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/squeezy
	subdir = squeezy
[submodule "survivalAnalysis"]
	path = survivalAnalysis
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/survivalAnalysis
	subdir = survivalAnalysis
[submodule "tidytidbits"]
	path = tidytidbits
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/tidytidbits
	subdir = tidytidbits
[submodule "tntpr"]
	path = tntpr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/tntpr
	subdir = tntpr
[submodule "tranSurv"]
	path = tranSurv
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/tranSurv
	subdir = tranSurv
[submodule "tvthemes"]
	path = tvthemes
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/tvthemes
	subdir = tvthemes
[submodule "umx"]
	path = umx
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/umx
	subdir = umx
[submodule "usaidplot"]
	path = usaidplot
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/usaidplot
	subdir = usaidplot
[submodule "waffle"]
	path = waffle
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/waffle
	subdir = waffle
[submodule "weatherOz"]
	path = weatherOz
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/weatherOz
	subdir = weatherOz
[submodule "wkutils"]
	path = wkutils
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/wkutils
	subdir = wkutils
[submodule "xkcd"]
	path = xkcd
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/xkcd
	subdir = xkcd
