[submodule ".registry"]
	path = .registry
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = HEAD
[submodule "AICcPermanova"]
	path = AICcPermanova
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/AICcPermanova
	subdir = AICcPermanova
[submodule "ARpLMEC"]
	path = ARpLMEC
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ARpLMEC
	subdir = ARpLMEC
[submodule "AnimalHabitatNetwork"]
	path = AnimalHabitatNetwork
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/AnimalHabitatNetwork
	subdir = AnimalHabitatNetwork
[submodule "BT"]
	path = BT
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/BT
	subdir = BT
[submodule "BayesianFactorZoo"]
	path = BayesianFactorZoo
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/BayesianFactorZoo
	subdir = BayesianFactorZoo
[submodule "CAMML"]
	path = CAMML
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/CAMML
	subdir = CAMML
[submodule "CPAT"]
	path = CPAT
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/CPAT
	subdir = CPAT
[submodule "CodeDepends"]
	path = CodeDepends
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/CodeDepends
	subdir = CodeDepends
[submodule "CureAuxSP"]
	path = CureAuxSP
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/CureAuxSP
	subdir = CureAuxSP
[submodule "DLFM"]
	path = DLFM
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/DLFM
	subdir = DLFM
[submodule "DMQ"]
	path = DMQ
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/DMQ
	subdir = DMQ
[submodule "EEAaq"]
	path = EEAaq
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EEAaq
	subdir = EEAaq
[submodule "EHRtemporalVariability"]
	path = EHRtemporalVariability
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EHRtemporalVariability
	subdir = EHRtemporalVariability
[submodule "EntropyMCMC"]
	path = EntropyMCMC
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EntropyMCMC
	subdir = EntropyMCMC
[submodule "EstMix"]
	path = EstMix
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EstMix
	subdir = EstMix
[submodule "FACT"]
	path = FACT
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/FACT
	subdir = FACT
[submodule "I14Y"]
	path = I14Y
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/I14Y
	subdir = I14Y
[submodule "IOHanalyzer"]
	path = IOHanalyzer
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/IOHanalyzer
	subdir = IOHanalyzer
[submodule "ISEtools"]
	path = ISEtools
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ISEtools
	subdir = ISEtools
[submodule "KODAMA"]
	path = KODAMA
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/KODAMA
	subdir = KODAMA
[submodule "LFM"]
	path = LFM
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/LFM
	subdir = LFM
[submodule "LLIC"]
	path = LLIC
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/LLIC
	subdir = LLIC
[submodule "LowWAFOMNX"]
	path = LowWAFOMNX
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/LowWAFOMNX
	subdir = LowWAFOMNX
[submodule "LowWAFOMSobol"]
	path = LowWAFOMSobol
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/LowWAFOMSobol
	subdir = LowWAFOMSobol
[submodule "MMVBVS"]
	path = MMVBVS
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/MMVBVS
	subdir = MMVBVS
[submodule "MSmix"]
	path = MSmix
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/MSmix
	subdir = MSmix
[submodule "MTAFT"]
	path = MTAFT
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/MTAFT
	subdir = MTAFT
[submodule "MetChem"]
	path = MetChem
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/MetChem
	subdir = MetChem
[submodule "NAIR"]
	path = NAIR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/NAIR
	subdir = NAIR
[submodule "PStrata"]
	path = PStrata
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/PStrata
	subdir = PStrata
[submodule "ParallelPC"]
	path = ParallelPC
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ParallelPC
	subdir = ParallelPC
[submodule "RKHSMetaMod"]
	path = RKHSMetaMod
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/RKHSMetaMod
	subdir = RKHSMetaMod
[submodule "RPANDA"]
	path = RPANDA
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/RPANDA
	subdir = RPANDA
[submodule "RPEGLMEN"]
	path = RPEGLMEN
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/RPEGLMEN
	subdir = RPEGLMEN
[submodule "RPESE"]
	path = RPESE
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/RPESE
	subdir = RPESE
[submodule "RXshrink"]
	path = RXshrink
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/RXshrink
	subdir = RXshrink
[submodule "RcppCensSpatial"]
	path = RcppCensSpatial
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/RcppCensSpatial
	subdir = RcppCensSpatial
[submodule "Rediscover"]
	path = Rediscover
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/Rediscover
	subdir = Rediscover
[submodule "Ryacas0"]
	path = Ryacas0
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/Ryacas0
	subdir = Ryacas0
[submodule "SBCK"]
	path = SBCK
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/SBCK
	subdir = SBCK
[submodule "SRTsim"]
	path = SRTsim
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/SRTsim
	subdir = SRTsim
[submodule "SWMPrExtension"]
	path = SWMPrExtension
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/SWMPrExtension
	subdir = SWMPrExtension
[submodule "SpatialDDLS"]
	path = SpatialDDLS
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/SpatialDDLS
	subdir = SpatialDDLS
[submodule "SpatialML"]
	path = SpatialML
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/SpatialML
	subdir = SpatialML
[submodule "TESS"]
	path = TESS
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/TESS
	subdir = TESS
[submodule "TFM"]
	path = TFM
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/TFM
	subdir = TFM
[submodule "Tlasso"]
	path = Tlasso
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/Tlasso
	subdir = Tlasso
[submodule "TransTGGM"]
	path = TransTGGM
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/TransTGGM
	subdir = TransTGGM
[submodule "XRJulia"]
	path = XRJulia
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/XRJulia
	subdir = XRJulia
[submodule "alphaci"]
	path = alphaci
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/alphaci
	subdir = alphaci
[submodule "amerifluxr"]
	path = amerifluxr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/amerifluxr
	subdir = amerifluxr
[submodule "ast2ast"]
	path = ast2ast
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ast2ast
	subdir = ast2ast
[submodule "beanz"]
	path = beanz
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/beanz
	subdir = beanz
[submodule "bigchess"]
	path = bigchess
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/bigchess
	subdir = bigchess
[submodule "bulkAnalyseR"]
	path = bulkAnalyseR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/bulkAnalyseR
	subdir = bulkAnalyseR
[submodule "casino"]
	path = casino
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/casino
	subdir = casino
[submodule "cellpypes"]
	path = cellpypes
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/cellpypes
	subdir = cellpypes
[submodule "citmre"]
	path = citmre
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/citmre
	subdir = citmre
[submodule "clrng"]
	path = clrng
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/clrng
	subdir = clrng
[submodule "cmaRs"]
	path = cmaRs
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/cmaRs
	subdir = cmaRs
[submodule "cometExactTest"]
	path = cometExactTest
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/cometExactTest
	subdir = cometExactTest
[submodule "conflr"]
	path = conflr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/conflr
	subdir = conflr
[submodule "covdepGE"]
	path = covdepGE
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/covdepGE
	subdir = covdepGE
[submodule "covid19swiss"]
	path = covid19swiss
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/covid19swiss
	subdir = covid19swiss
[submodule "deepredeff"]
	path = deepredeff
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/deepredeff
	subdir = deepredeff
[submodule "depigner"]
	path = depigner
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/depigner
	subdir = depigner
[submodule "dfdr"]
	path = dfdr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/dfdr
	subdir = dfdr
[submodule "distreg.vis"]
	path = distreg.vis
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/distreg.vis
	subdir = distreg.vis
[submodule "doseminer"]
	path = doseminer
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/doseminer
	subdir = doseminer
[submodule "drugprepr"]
	path = drugprepr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/drugprepr
	subdir = drugprepr
[submodule "dsld"]
	path = dsld
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/dsld
	subdir = dsld
[submodule "eclust"]
	path = eclust
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/eclust
	subdir = eclust
[submodule "egcm"]
	path = egcm
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/egcm
	subdir = egcm
[submodule "emend"]
	path = emend
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/emend
	subdir = emend
[submodule "epiCleanr"]
	path = epiCleanr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/epiCleanr
	subdir = epiCleanr
[submodule "epiflows"]
	path = epiflows
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/epiflows
	subdir = epiflows
[submodule "ergmito"]
	path = ergmito
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ergmito
	subdir = ergmito
[submodule "fanc"]
	path = fanc
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fanc
	subdir = fanc
[submodule "fdacluster"]
	path = fdacluster
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fdacluster
	subdir = fdacluster
[submodule "fipp"]
	path = fipp
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fipp
	subdir = fipp
[submodule "fixedpointproperty"]
	path = fixedpointproperty
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fixedpointproperty
	subdir = fixedpointproperty
[submodule "flexOR"]
	path = flexOR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/flexOR
	subdir = flexOR
[submodule "flowml"]
	path = flowml
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/flowml
	subdir = flowml
[submodule "fwsim"]
	path = fwsim
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fwsim
	subdir = fwsim
[submodule "gamlss.ggplots"]
	path = gamlss.ggplots
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gamlss.ggplots
	subdir = gamlss.ggplots
[submodule "gapfill"]
	path = gapfill
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gapfill
	subdir = gapfill
[submodule "geosed"]
	path = geosed
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/geosed
	subdir = geosed
[submodule "gfcanalysis"]
	path = gfcanalysis
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gfcanalysis
	subdir = gfcanalysis
[submodule "ggbump"]
	path = ggbump
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ggbump
	subdir = ggbump
[submodule "ggcorset"]
	path = ggcorset
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ggcorset
	subdir = ggcorset
[submodule "gghalves"]
	path = gghalves
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gghalves
	subdir = gghalves
[submodule "ggheatmap"]
	path = ggheatmap
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ggheatmap
	subdir = ggheatmap
[submodule "ggpol"]
	path = ggpol
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ggpol
	subdir = ggpol
[submodule "gimap"]
	path = gimap
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gimap
	subdir = gimap
[submodule "gkwreg"]
	path = gkwreg
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gkwreg
	subdir = gkwreg
[submodule "gpuR"]
	path = gpuR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gpuR
	subdir = gpuR
[submodule "grr"]
	path = grr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/grr
	subdir = grr
[submodule "hdmed"]
	path = hdmed
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/hdmed
	subdir = hdmed
[submodule "healthyR.ts"]
	path = healthyR.ts
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/healthyR.ts
	subdir = healthyR.ts
[submodule "healthyverse"]
	path = healthyverse
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/healthyverse
	subdir = healthyverse
[submodule "ichimoku"]
	path = ichimoku
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ichimoku
	subdir = ichimoku
[submodule "igapfill"]
	path = igapfill
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/igapfill
	subdir = igapfill
[submodule "immcp"]
	path = immcp
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/immcp
	subdir = immcp
[submodule "ips"]
	path = ips
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ips
	subdir = ips
[submodule "isotracer"]
	path = isotracer
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/isotracer
	subdir = isotracer
[submodule "itsadug"]
	path = itsadug
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/itsadug
	subdir = itsadug
[submodule "kDGLM"]
	path = kDGLM
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/kDGLM
	subdir = kDGLM
[submodule "kerastuneR"]
	path = kerastuneR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/kerastuneR
	subdir = kerastuneR
[submodule "lctools"]
	path = lctools
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/lctools
	subdir = lctools
[submodule "letsR"]
	path = letsR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/letsR
	subdir = letsR
[submodule "mappoly"]
	path = mappoly
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/mappoly
	subdir = mappoly
[submodule "mcmcOutput"]
	path = mcmcOutput
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/mcmcOutput
	subdir = mcmcOutput
[submodule "meltr"]
	path = meltr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/meltr
	subdir = meltr
[submodule "metajam"]
	path = metajam
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/metajam
	subdir = metajam
[submodule "metarep"]
	path = metarep
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/metarep
	subdir = metarep
[submodule "meteorits"]
	path = meteorits
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/meteorits
	subdir = meteorits
[submodule "mgss"]
	path = mgss
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/mgss
	subdir = mgss
[submodule "model4you"]
	path = model4you
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/model4you
	subdir = model4you
[submodule "modelfactory"]
	path = modelfactory
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/modelfactory
	subdir = modelfactory
[submodule "modelgrid"]
	path = modelgrid
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/modelgrid
	subdir = modelgrid
[submodule "moreparty"]
	path = moreparty
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/moreparty
	subdir = moreparty
[submodule "mskcc.oncotree"]
	path = mskcc.oncotree
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/mskcc.oncotree
	subdir = mskcc.oncotree
[submodule "nJira"]
	path = nJira
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/nJira
	subdir = nJira
[submodule "nesRdata"]
	path = nesRdata
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/nesRdata
	subdir = nesRdata
[submodule "nse"]
	path = nse
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/nse
	subdir = nse
[submodule "nser"]
	path = nser
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/nser
	subdir = nser
[submodule "oncrawlR"]
	path = oncrawlR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/oncrawlR
	subdir = oncrawlR
[submodule "ordPens"]
	path = ordPens
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ordPens
	subdir = ordPens
[submodule "ox"]
	path = ox
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ox
	subdir = ox
[submodule "pbox"]
	path = pbox
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/pbox
	subdir = pbox
[submodule "phenofit"]
	path = phenofit
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/phenofit
	subdir = phenofit
[submodule "phylospatial"]
	path = phylospatial
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/phylospatial
	subdir = phylospatial
[submodule "pipenostics"]
	path = pipenostics
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/pipenostics
	subdir = pipenostics
[submodule "poolABC"]
	path = poolABC
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/poolABC
	subdir = poolABC
[submodule "povmap"]
	path = povmap
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/povmap
	subdir = povmap
[submodule "prettyglm"]
	path = prettyglm
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/prettyglm
	subdir = prettyglm
[submodule "pubtatordb"]
	path = pubtatordb
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/pubtatordb
	subdir = pubtatordb
[submodule "qtlpoly"]
	path = qtlpoly
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/qtlpoly
	subdir = qtlpoly
[submodule "quincunx"]
	path = quincunx
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/quincunx
	subdir = quincunx
[submodule "quotedargs"]
	path = quotedargs
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/quotedargs
	subdir = quotedargs
[submodule "r2pmml"]
	path = r2pmml
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/r2pmml
	subdir = r2pmml
[submodule "rSHAPE"]
	path = rSHAPE
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rSHAPE
	subdir = rSHAPE
[submodule "rWCVP"]
	path = rWCVP
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rWCVP
	subdir = rWCVP
[submodule "radiant"]
	path = radiant
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/radiant
	subdir = radiant
[submodule "radiant.model"]
	path = radiant.model
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/radiant.model
	subdir = radiant.model
[submodule "radiant.multivariate"]
	path = radiant.multivariate
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/radiant.multivariate
	subdir = radiant.multivariate
[submodule "read.dbc"]
	path = read.dbc
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/read.dbc
	subdir = read.dbc
[submodule "relliptical"]
	path = relliptical
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/relliptical
	subdir = relliptical
[submodule "rhosp"]
	path = rhosp
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rhosp
	subdir = rhosp
[submodule "riemstats"]
	path = riemstats
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/riemstats
	subdir = riemstats
[submodule "rlc"]
	path = rlc
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rlc
	subdir = rlc
[submodule "romic"]
	path = romic
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/romic
	subdir = romic
[submodule "rosetta"]
	path = rosetta
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rosetta
	subdir = rosetta
[submodule "rosetteApi"]
	path = rosetteApi
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rosetteApi
	subdir = rosetteApi
[submodule "rtsplot"]
	path = rtsplot
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rtsplot
	subdir = rtsplot
[submodule "runMCMCbtadjust"]
	path = runMCMCbtadjust
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/runMCMCbtadjust
	subdir = runMCMCbtadjust
[submodule "sae.projection"]
	path = sae.projection
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/sae.projection
	subdir = sae.projection
[submodule "sasfunclust"]
	path = sasfunclust
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/sasfunclust
	subdir = sasfunclust
[submodule "sbo"]
	path = sbo
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/sbo
	subdir = sbo
[submodule "scUtils"]
	path = scUtils
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/scUtils
	subdir = scUtils
[submodule "scipub"]
	path = scipub
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/scipub
	subdir = scipub
[submodule "shapr"]
	path = shapr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/shapr
	subdir = shapr
[submodule "shipunov"]
	path = shipunov
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/shipunov
	subdir = shipunov
[submodule "signatureSurvival"]
	path = signatureSurvival
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/signatureSurvival
	subdir = signatureSurvival
[submodule "skewlmm"]
	path = skewlmm
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/skewlmm
	subdir = skewlmm
[submodule "skm"]
	path = skm
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/skm
	subdir = skm
[submodule "somspace"]
	path = somspace
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/somspace
	subdir = somspace
[submodule "specleanr"]
	path = specleanr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/specleanr
	subdir = specleanr
[submodule "spectre"]
	path = spectre
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/spectre
	subdir = spectre
[submodule "squat"]
	path = squat
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/squat
	subdir = squat
[submodule "statcanR"]
	path = statcanR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/statcanR
	subdir = statcanR
[submodule "stoRy"]
	path = stoRy
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/stoRy
	subdir = stoRy
[submodule "superml"]
	path = superml
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/superml
	subdir = superml
[submodule "tgver"]
	path = tgver
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/tgver
	subdir = tgver
[submodule "tidybins"]
	path = tidybins
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/tidybins
	subdir = tidybins
[submodule "treeshap"]
	path = treeshap
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/treeshap
	subdir = treeshap
[submodule "vDiveR"]
	path = vDiveR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/vDiveR
	subdir = vDiveR
[submodule "vdg"]
	path = vdg
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/vdg
	subdir = vdg
[submodule "volcano3D"]
	path = volcano3D
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/volcano3D
	subdir = volcano3D
[submodule "wiqid"]
	path = wiqid
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/wiqid
	subdir = wiqid
[submodule "zipangu"]
	path = zipangu
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/zipangu
	subdir = zipangu
