[submodule ".registry"]
	path = .registry
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = HEAD
[submodule "BayesMassBal"]
	path = BayesMassBal
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/BayesMassBal
	subdir = BayesMassBal
[submodule "CAMAN"]
	path = CAMAN
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/CAMAN
	subdir = CAMAN
[submodule "Colossus"]
	path = Colossus
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/Colossus
	subdir = Colossus
[submodule "EDA"]
	path = EDA
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EDA
	subdir = EDA
[submodule "EEAaq"]
	path = EEAaq
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EEAaq
	subdir = EEAaq
[submodule "EnrichDO"]
	path = EnrichDO
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/EnrichDO
	subdir = EnrichDO
[submodule "GLIDE"]
	path = GLIDE
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/GLIDE
	subdir = GLIDE
[submodule "GeoThinneR"]
	path = GeoThinneR
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/GeoThinneR
	subdir = GeoThinneR
[submodule "HKprocess"]
	path = HKprocess
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/HKprocess
	subdir = HKprocess
[submodule "HS"]
	path = HS
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/HS
	subdir = HS
[submodule "IDSA"]
	path = IDSA
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/IDSA
	subdir = IDSA
[submodule "IPDFileCheck"]
	path = IPDFileCheck
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/IPDFileCheck
	subdir = IPDFileCheck
[submodule "LDLcalc"]
	path = LDLcalc
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/LDLcalc
	subdir = LDLcalc
[submodule "LOGANTree"]
	path = LOGANTree
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/LOGANTree
	subdir = LOGANTree
[submodule "ModTools"]
	path = ModTools
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/ModTools
	subdir = ModTools
[submodule "PopVar"]
	path = PopVar
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/PopVar
	subdir = PopVar
[submodule "SSLASSO"]
	path = SSLASSO
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/SSLASSO
	subdir = SSLASSO
[submodule "TwoPhaseInd"]
	path = TwoPhaseInd
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/TwoPhaseInd
	subdir = TwoPhaseInd
[submodule "armadillo"]
	path = armadillo
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/armadillo
	subdir = armadillo
[submodule "bggAnalytics"]
	path = bggAnalytics
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/bggAnalytics
	subdir = bggAnalytics
[submodule "bhpm"]
	path = bhpm
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/bhpm
	subdir = bhpm
[submodule "bioPN"]
	path = bioPN
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/bioPN
	subdir = bioPN
[submodule "bold"]
	path = bold
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/bold
	subdir = bold
[submodule "comparer"]
	path = comparer
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/comparer
	subdir = comparer
[submodule "cregg"]
	path = cregg
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/cregg
	subdir = cregg
[submodule "cwbtools"]
	path = cwbtools
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/cwbtools
	subdir = cwbtools
[submodule "datelife"]
	path = datelife
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/datelife
	subdir = datelife
[submodule "edbuildmapr"]
	path = edbuildmapr
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/edbuildmapr
	subdir = edbuildmapr
[submodule "eodhd"]
	path = eodhd
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/eodhd
	subdir = eodhd
[submodule "fixedincome"]
	path = fixedincome
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fixedincome
	subdir = fixedincome
[submodule "fmbasics"]
	path = fmbasics
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fmbasics
	subdir = fmbasics
[submodule "fmdates"]
	path = fmdates
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/fmdates
	subdir = fmdates
[submodule "foolbox"]
	path = foolbox
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/foolbox
	subdir = foolbox
[submodule "gtfs2emis"]
	path = gtfs2emis
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gtfs2emis
	subdir = gtfs2emis
[submodule "gtfs2gps"]
	path = gtfs2gps
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gtfs2gps
	subdir = gtfs2gps
[submodule "gtfstools"]
	path = gtfstools
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/gtfstools
	subdir = gtfstools
[submodule "image.dlib"]
	path = image.dlib
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/image.dlib
	subdir = image.dlib
[submodule "landscapetools"]
	path = landscapetools
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/landscapetools
	subdir = landscapetools
[submodule "msmtools"]
	path = msmtools
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/msmtools
	subdir = msmtools
[submodule "mvPot"]
	path = mvPot
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/mvPot
	subdir = mvPot
[submodule "npcopTest"]
	path = npcopTest
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/npcopTest
	subdir = npcopTest
[submodule "oaqc"]
	path = oaqc
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/oaqc
	subdir = oaqc
[submodule "qtlmt"]
	path = qtlmt
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/qtlmt
	subdir = qtlmt
[submodule "rb3"]
	path = rb3
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rb3
	subdir = rb3
[submodule "refdb"]
	path = refdb
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/refdb
	subdir = refdb
[submodule "rusda"]
	path = rusda
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rusda
	subdir = rusda
[submodule "rxode2et"]
	path = rxode2et
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rxode2et
	subdir = rxode2et
[submodule "rxode2parse"]
	path = rxode2parse
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rxode2parse
	subdir = rxode2parse
[submodule "rxode2random"]
	path = rxode2random
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/rxode2random
	subdir = rxode2random
[submodule "shiny.worker"]
	path = shiny.worker
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/shiny.worker
	subdir = shiny.worker
[submodule "sparseGAM"]
	path = sparseGAM
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/sparseGAM
	subdir = sparseGAM
[submodule "stabreg"]
	path = stabreg
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/stabreg
	subdir = stabreg
[submodule "taxizedb"]
	path = taxizedb
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/taxizedb
	subdir = taxizedb
[submodule "timeless"]
	path = timeless
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/timeless
	subdir = timeless
[submodule "visae"]
	path = visae
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/visae
	subdir = visae
[submodule "wdi2"]
	path = wdi2
	url = https://github.com/cranhaven/cranhaven.r-universe.dev
	branch = package/wdi2
	subdir = wdi2
